<h1>WellCome to Angular 12</h1>
<!-- <p-button styleClass="p-button-outlined">
  <img alt="/" src="/" style="width: 1.5rem"/> -->
  <!-- <span class="p-ml-2 p-text-bold">PrimeNG</span>
</p-button> <br>
<br> -->
<!-- <p-button label="Submit"></p-button> -->
<!---->
<p-menubar [model]="items">
  <div>
      <input type="text" pInputText placeholder="Search">
      <button type="button" pButton label="Logout" icon="pi pi-power-off" style="margin-left:.25em"></button>
  </div>
</p-menubar>
<!--notess-->
<div class="card">
  <!-- <h5>Horizontal</h5> -->
  <p-splitter [style]="{'height': '300px'}" styleClass="p-mb-5" [panelSizes]="[20,80]">
      <ng-template pTemplate>
          <div class="p-col p-d-flex p-ai-center p-jc-center">
              List Menu
              <li>menu1</li>
              <li>menu2</li>
              <li>menu3</li>
              <li>menu4</li>
          </div>
      </ng-template>
      <ng-template pTemplate>
          <div class="p-col p-d-flex p-ai-center p-jc-center">
              Panel 2
          </div>
      </ng-template>
  </p-splitter>
</div>